@charset "UTF-8";

@import url('default.css');

@media screen and (min-width: 320px) and (max-width: 460px) {

}

@media screen and (min-width: 775px) {
    menu > ul > li {
        display: inline-block;
    }

    i#menu-open {
        display: none;
    }

    menu {
        margin: auto;
        text-align: center;
    }
}